Django==2.2.13 # need this one
django-heroku==0.3.1 # need this one
gunicorn==20.0.4 # need this one
heroku==0.1.4 # need this one
Pillow==7.1.0 # need this one
whitenoise==5.0.1 # need this one
psycopg2==2.8.4 # need this one
pytz==2019.3 # need this one
python-decouple==3.3
dj-database-url==0.5.0
python-dateutil==1.5
python-dotenv==0.15.0


progress==1.5
appdirs==1.4.3
asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0

html5lib==1.0.1
idna==2.9
ipaddr==2.2.0
isort==4.3.21
lazy-object-proxy==1.4.3
lockfile==0.12.2
mccabe==0.6.1
msgpack==0.6.2
packaging==20.3
pep517==0.8.2
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
pytoml==0.1.21
requests==2.23.0
retrying==1.3.3
six==1.14.0
sqlparse==0.3.0
text-unidecode==1.3
typed-ast==1.4.1
urllib3==1.25.8
webencodings==0.5.1
wrapt==1.11.2