Django>=3.2,<4.0
asgiref
attrs
certifi
chardet
dj-database-url
django-environ
django-heroku
gunicorn
heroku
idna
iniconfig
Pillow
pluggy
psycopg2
py
pytest
python-dateutil
python-decouple
python-dotenv
pytz
requests
sqlparse
toml
urllib3
whitenoise
django-analytical
django-extensions 
Werkzeug