Django>3.2,<4.0
asgiref
attrs
certifi
chardet
dj-database-url
django-environ
django-heroku
gunicorn
heroku3
idna
iniconfig
Pillow>9
pluggy
psycopg2
py
pytest
python-dateutil>2.8
python-decouple
python-dotenv
pytz
requests
sqlparse
toml
urllib3
whitenoise
django-analytical
django-extensions 
Werkzeug==2.0.3
