{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container-md container-lg">
      <a class="navbar-brand d-none d-md-block" href="{% url 'portal' %}">
        <img src="{% static 'img/crimson-pentavcle-wtih-grey.gif' %}" class="logo" alt="" id="squad_grey no-shadow">
      </a>
      <button class="navbar-toggler mx-auto mx-1-md" type="button" data-toggle="collapse" id="toggler-button" data-target="#navbarNavAltMarkup" onclick="navbarButton()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-md-3  mx-auto align-self-center"
            {% else %}
              class="nav-item mx-auto mr-md-3 align-self-center"
            {% endif %}
          >
            {% if protection.enable_protection %}
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            {% endif %}
          </li>
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-md-3  mx-auto align-self-center"
            {% else %}
              class="nav-item mx-auto mr-md-3 align-self-center"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'portal' %}">Portal</a>
          </li>

          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto align-self-center"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto align-self-center"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>

          <li 
            {% if 'tarot_key' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto align-self-center"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto align-self-center"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'get_tarot_key_generator' %}">Tarot Cards</a>
          </li>

          <li
          {% if 'essay_list' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto align-self-center"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto align-self-center"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'essay_list' %}">Annotated <br> Essay List</a>
          </li>
    
          <li class="nav-item custom-nav-button d-lg-none d-md-none d-sm-block">
            <button data-toggle="collapse" data-target="#navbarNavAltMarkup" type="button" onclick="navbarButton()">Close</button>
          </li>
        </ul>        
      </div>
    </div>
  </nav>