{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" href="{% url 'portal' %}">
        <img src="{% static 'img/crimson-pentavcle-wtih-grey.gif' %}" class="logo" alt="" id="squad_grey no-shadow">
      </a>
      <button class="navbar-toggler mx-auto mx-1-md" type="button" data-toggle="collapse" id="toggler-button" data-target="#navbarNavAltMarkup" onclick="navbarButton()">
        <span class="navbar-toggler-icon" style="font-size:1.6rem;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active  mx-auto"
            {% else %}
              class="nav-item mx-auto"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'portal' %}">Home</a>
          </li>

          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>

          <li 
            {% if 'at_random' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'at_random' %}">Tarot at Random</a>
          </li>

          <li
          {% if 'site_map' in request.path %}
              class="nav-item active mr-md-3 mx-sm-auto"
            {% else %}
              class="nav-item mr-md-3 mx-sm-auto"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'site_map' %}">Annotated Essay List</a>
          </li>
          <li class="d-lg-none d-md-none d-sm-block btn btn-lg btn-default my-0 px-4" style="background-color:crimson !important; border:none;">
           <button data-toggle="collapse" data-target="#navbarNavAltMarkup" style="border:none;background-color:transparent; width:100%;height:100%; color:white; font-size:1.2rem; text-transform:uppercase;" type="button" onclick="navbarButton()">Close</button>
          </li>
        </ul>        
      </div>
    </div>
  </nav>