{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'portal' %}">
        <img src="#" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'portal' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'at_random' %}">Tarot at Random</a>
          </li>
          <li>
            <a class="nav-link" href="#"> Site Map</a>
          </li>
        </ul>        
      </div>
    </div>
  </nav>