<center>{% block title %} Register Account {% endblock %} 
{% block extra_head %}
  <link rel="stylesheet" href="#">
  <style>

  label {
	  color: white;
  }

   body {
	  background: gray;
    color: white;
    text-align: center;
  }
  img {
    border-radius: 25px;
    margin-top: 100px;
    border: dashed;
  }
  h3 {
    margin-bottom: 100px;
  }
  input {
    margin:5px;
    border-radius: 5px;
  }
  h1{
    font-size: 2em;
    margin-top:75px;
  }
  
  /* section {
    margin: 0 1px;
  }*/

  /*
  .card {
	  border: none;
  }
  .btn-secondary {
    background-color: crimson;
	border-color: black;
  }
*/
/* unvisited link */
a:link {
  color: crimson;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 20px white;
}
/* visited link */
a:visited {
  color: crimson;
}

/* mouse over link */
a:hover {
  color: crimson;
}

/* selected link */
a:active {
  color: crimson;
}

  </style>
{% endblock %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                 <form action="{% url 'register' %}" method="POST">
				          {% csrf_token %}
                    <!--  <label for="first_name">First Name</label>
                      <input type="text" name="first_name" class="form-control" required>
                    
                    <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <input type="text" name="last_name" class="form-control" required>
                    </div> -->
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</center>  {% endblock %}


