:root {
    --number-cards: 4;
    --flex-basis: calc(100% / var(--number-cards));
}

.carousel {
    width: 75%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid orange;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

/* contains the slides */
.carousel_slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* each slide is a flex child, acts as cell to contain images */
.slide {
    flex: 1 0 var(--flex-basis); /* was shrink 1 */
    min-width: 100px;
}

/* individual slide image / card */
.carousel_slider img {
    padding: 5px;
    min-width: 100px;
}




/* Reference only, delete this
section.general img {
    max-width: 30%;
    height: auto;
/
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 5px;
    display: inline-block;
    float: center;
  }
*/