
:root {
  --number-cards: 4;
  --total-cards: 8;
  --gap: 10px;
  --grid-basis: calc(100% / var(--number-cards));

}

.carousel {
  width: 80%;
  height: 250px;
  margin: 20px auto;
}

.slider {
  display: grid;
  grid-gap: var(--gap);
  grid-auto-columns: var(--grid-basis);
  overflow: hidden;
  padding: 0 10px;
}

.slide {
  grid-row: 1;
}
