
/* main div that contains the carousel */
.carousel {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 0 auto;

}

/* div that contains the carousel track */
.carousel_track-container {
    position: relative;
    height: 100%;
}

/* ul - contains tracks as li */
.carousel_track {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* li one per slide / image */
.carousel_slide {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;

}

/* Individual img contained in slide */
.carousel_image {
    height: 100%;
    width: auto;
    cursor: grab;
}

/* Reference only, delete this
section.general img {
    max-width: 30%;
    height: auto;
/
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 5px;
    display: inline-block;
    float: center;
  }
*/