::selection {
  background-color: crimson;
}

/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: white;
  font-size: 1em;
  /* line-height: 1.4;
    background: linear-gradient(115deg,black 10%,  gray 90% );*/
}

/* body {
  margin-bottom: 250px;
}*/
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*
::selection {
  background: #b3d4fc;
  text-shadow: none;
}*/

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
  width: 250px;
  
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

blockquote > .scholar {
  width: 80%;
  font-family: "Domine", "Oxygen Mono", monospace, Cambria, "Hoefler Text",
    Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times,
    "Times New Roman", serif;
  font-size: 80px;
  color: #6c6c6c;
  text-align: justify;
  font-style: italic;
  padding: 25px;
  font-weight: bold;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: 1px 2px 3px black;
}
.scholar p {
  font-family: "Domine", "Oxygen Mono", monospace, Cambria, "Hoefler Text",
    Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times,
    "Times New Roman", serif;
  margin: 0 auto;
  color: white;
  width: 80%;
  /*background-image: linear-gradient(-100deg, black 0%, gray 100%);*/
  padding: 1em;
  border-radius: 5px;
  /*box-shadow: 1px 2px 3px black;*/
}

.reference {
  display: block;
  font-size: 0.875em;
  /* margin-right: 3cm;*/
  margin: auto;
  text-align: center;
  margin-right: 2em;
  background: rgba(0, 0, 0, 10%);
  border-radius: 5px;
  color: white;
  box-shadow: 1px 2px 3px black;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 20px;
}

.key {
  width: 85%;
  margin: auto;
  border: 1px solid transparent;
  padding-bottom: 5em;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px white, 0 0 70px white, 0 0 80px white, 0 0 100px white, 0 0 150px white;*/
}
/* .star {
  margin-top: 60px;
}*/

section.general {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5em;
  margin-bottom: 1em;
}
/* ============================================= */
.parent_for_animations {
  position: relative;
  width: 21%;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


/* body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
} */


.card_animation_child {
  /* background: transparent; */
  /* width: var(--card-width);
  height: var(--card-height); */
  /* padding: 3px;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive; */
  width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), white, gray 43%, white);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    animation: spin 8s linear infinite;
}

.card_animation_child:hover {
  color: white;
  transition: color 1s;
}

.parent_for_animations:hover span.card_animation_child {
  display: none;
}


/* .card_animation_child::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), white, gray 43%, white);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 8s linear infinite;
} */

.card_animation_child::after {
  position: absolute;
    content: "";
    top: calc(var(--card-height) / 7);
    left: -8%;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 116%;
    margin: 0 auto;
    transform: scale(0.8);
    opacity: 1;
    transition: opacity .5s;
    filter: blur(calc(var(--card-height) / 7));
    background-image: linear-gradient(var(--rotate), red, crimson 43%, white);
    animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

/* a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
} */
 /* ============================================= */

section.general img {
  /* width: 30%; */
  height: auto;
  /*border: 5px dashed gold;*/
  /* padding: 10px;*/
  /* box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white; */
  /* margin-bottom: 40px;
  margin-top: 40px; */
  border-radius: 5px;
  display: inline-block;
  float: center;
  position: relative;
    z-index: 9;
}
section.general .parent_for_animations {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.parent_for_animations img{
  width: 100%;
}
.image-0 {
  /*    height: 25%;
        width: 25%;*/
  height: 12em;
  width: 16em;
  margin: auto;
  display: block;
}

.esoteric-attributes {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 96%;
  font-weight: bold;
  font-family: Courier, Monaco, monospace;
}

* {
  /* margin: 0 auto; */
  /*padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding:20px*/
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: inherit;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0px;
  padding-bottom: 25px;
  margin-bottom: 0rem;
}

.flex-item {
  background: none;
  padding: 5px;
  height: 150px;
  margin-top: 10px;
  line-height: 350%;
  /* color: inherit;*/
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: white;
  /*max-width: 250px;*/
}

.a,
.b {
  height: 15px;
  background: none;
  grid-column: span 2;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: none;
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
}

.c {
  height: 15px;
  background: none;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: none;
  /* width: 0%; */
  margin: 0 auto;
  margin-top: 25px;
}

.d,
.e {
  grid-column: span 2;
  height: 50px;
  background: none;
  color: black;
  list-style-type: none;
}

.f {
  height: 50px;
  background: none;
  color: black;
  list-style-type: none;
}

/* ul { 
  padding-inline-start: 50px;
}*/

#image-0 {
  width: 60%;
}

.bottom {
  padding-bottom: 0%;
}

#arrow {
  width: 10%;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  margin-left: 0px;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /*margin: 0 auto;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn:hover,
.btn:focus {
  color: crimson;
  outline: 0;
}

.third {
  border-color: crimson;
  color: black;
  box-shadow: 0 0 40px 40px crimson inset, 0 0 0 0 crimson;
  transition: all 150ms ease-in-out;
  width: 100%;
  height: calc( ( 14vh - 12px ) / 2 );
  max-height: calc( ( 120px - 12px ) / 2 );
  min-height: calc( ( 120px - 12px ) / 2 );
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third:hover {
  box-shadow: 0 0 10px 0 crimson inset, 0 0 10px 4px crimson;
}

#centered-buttons {
  margin: auto;
  width: 100%; /* instead of width: auto */
  text-align: center;
  display: inline-block;
  padding-top: 72px;
}

.flex-item {
  max-width: 125px;
  margin: 0 auto;
}

.narrative-h1s {
  text-align: left;
  padding-top: 30px;
}

p {
  font-size: 120%;
}

ol,
ul,
dl {
  font-size: 120%;
}

img {
  width: 83px;
  /*box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;*/
}

#no-shadow {
  box-shadow: none;
}

/* Shadow on images */
.show-img-shadow {
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

/* LEFT RIGHT BUTTONS */
.but-flex{
  display: flex;
  align-items: center;
}

.but-row{
  flex-direction: row;
}

.but-column{
  flex-direction: column;
}

.max-width-360{
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.nav_button{
  border-color: crimson;
  color: black;
  box-shadow: 0 0 60px 60px crimson inset, 0 0 0 0 crimson;
  transition: all 150ms ease-in-out;
  width: 100%;
  max-width: 64px;
  height: 14vh;
  max-height: 120px;
  min-height: 120px;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_button i{
  display: block;
  font-size: 2rem;
}

.nav_button:hover {
  box-shadow: 0 0 10px 0 crimson inset, 0 0 10px 4px crimson;
}
@media only screen and (max-width: 768px) and (min-width: 700px) {
  body section.general .parent_for_animations{
    width: 50% !important;
    margin: 0 auto;
    margin-bottom: 65px;
  }
  
  body .card_animation_child {
    width: 60%;
  }
  body section.general img {
    width: 60%;
  }
  body body section>ul.esoteric-attributes{
    top: 27%;
  }
}
@media (min-width: 700px){
section.general {
  text-align: left;
  border: 1px solid transparent;
  padding: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  /* margin-left: 20%; */
}
body section.general .parent_for_animations {
  width: 50%;
  display: inline-block;
}
body section>ul.esoteric-attributes {
  padding-left: 5%;
  width: 49%;
  display: inline-block;
  margin-left: 0;
  position: absolute;
  top: 32%;
}
.parent_for_animations img {
  width: 45%;
  float: right;
}
.card_animation_child {
  width: 45%;
  float: right;
  right: 0;
  left: auto;
}

 
} 






section > img.img_class{
  margin-left: 12%;
}

section > ul.esoteric-attributes{
  margin-left: 5%;
}

}

@media (min-width: 700px) and (min-width: 768px) {
  section.general {
    text-align: left;
    border: 1px solid transparent;
    padding: 0.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
  }
}

/*  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
  section.general .parent_for_animations {
    width: 21%;
  }
}

/* ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
}

/*  ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}


/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px */
@media (min-width: 410px) and (max-width: 767px) {
  section.general .parent_for_animations {
    width: 34%;
    margin: 0 auto;
    margin-bottom: 65px;
  }
    .card_animation_child::after {
      top: calc(var(--card-height) / 14);
      filter: blur(calc(var(--card-height) / 11));
    }
    section.general img {
      width: 100%;
    }
  .flex-item {
    max-width: 100px;
  }
  #centered-buttons {
   
  }
  .nav_button{
  border-color: crimson;
  color: white;
  }
  .third{
  border-color: crimson;
  color: white;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .gradient_background {
    background: linear-gradient(-90deg, #6c6c6c 0%, black 100%);
    background-attachment: fixed;
    color: white;
  }
}

@media  (max-width: 409px) {
  .card_animation_child::after {
      top: calc(var(--card-height) / 35);

    }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  section.general img {
    /* width: 70%; */
  }
  .flex-item {
    max-width: 100px;
  }
}



#biblio-key {
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 27px;
  padding: 0.25em 0.5em;
  text-align: center;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #fff; /* 0 0 20px #fff, 0 0 30px #fff;*/
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #fff;*/
  }

  h2 {
    font-size: 200;
    margin-top: 40px;
    margin-bottom: 27px;
    padding: 0.25em 0.5em;
    text-align: center;
    color: crimson;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #fff;
  }

  .num {
    margin: 0 auto;
  }