<!DOCTYPE html>
<html lang="en">
<head>
	<title>Django Project Work Order / Proposal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="robots" content="noindex,nofollow" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
	<style>

			p {
			   color:black;
			   }

			body {
				width: 600px;
				margin: 50px auto;
				font-family: 'Raleway', Helvetica, Arial;
				padding-top: 50px;
			    }
			
			a {
                color: #428bca;
                text-decoration: none;
                }
                
           li.orders {
                padding-bottom: 12px;
                padding-top: 12px;
           }

           .highlightme {
                background-color: yellow;
            }

            .completed {
                text-decoration: line-through dotted red;
            }
            
            .highlightme {
                 background-color:yellow;
            }
            
	</style>
</head>

<body>

<ol>

<li class="orders"> <!-- 1 -->
<span class="completed">Django/Jinja: Correct article.html template to show only one essay article (one essay per slug, rather than all essays stacked ontop of each other on a single template). Each essay should have it’s own page. I realize the problem is my Jinja for loop inside the template, but I am not sure how to fix this.</SPAN><strong>COMPLETED 17 FEBRUARY</strong></li>

<li class="orders"><!-- 2 -->
<span class="completed">Javascript: More animations for at_random.html template:
    <ul>
        <li>Say there are three narrative img icons toggled. When one of them (say Galileo) is then untoggled, the remaining narrative content should animate by ‘gently ascending’</li>
        <li>Say there is only one narrative img icon remaining (say FLOSS) toggled. When FLOSS is then untoggled, the bottom footer should animate by ‘gently ascending’</li>
        <li>Likewise, when a narrative img is toggled, then there needs to be an animation which gently creates a space for the narrative content to appear. For example, if all three narrative img’s are in an untoggled state, when FLOSS is toggled, the footer should ‘gently descend’ to create a space to allow for the new content to move into.</li>
    </ul></span>    <strong>COMPLETED 18 FEBRUARY</strong>
</li>

<li class="orders"><!-- 3 -->
<span class="completed">Javascript: Default toggled narrative content must show Galileo only (with FLOSS and St Paul untoggled by default). However if the web user selects FLOSS, St Paul and untoggles Galileo, then the website needs to remember the user’s selection when Django serves the next tarot card (at_random template)</span>  <strong>COMPLETED 18 FEBRUARY</strong>
</li>

<li class="orders"><!-- 4 -->
<span class="completed">Javascript: At the bottom of at_random.html, what does this do? What is its purpose?</span>
    <br>
    <blockquote>< script>
    if(window.location.pathname.split('/')[2] === ""){
    history.pushState("","",{{generator.number}});
    }
    < /script>
    </blockquote>
     <strong> COMPLETED 19 FEBRUARY</strong> <Br>
    Syed answers my question with this : 
    <blockquote>The above code is using to update URL with the generator number, when redirecting from homepage. If the javascript code get removes then the urls would be /at_random, with no number. My suggestion is, let remove this code, On Redirecting to at_random template from home page the url will be /at_random, And selecting the thumbnail redirects to at_random template, and then the url will be /at_random/9/. For Req#4 we have revamped at_random template redirection with the new middle view and removed that javascript code, code is pushed into PR. Now Our code is more clean and structurized.</blockquote> <strong>COMPLETED 19 FEBRUARY</strong>
</li>

<li class="orders"><!-- 5 --><span class=highlightme>still outstanding</span>:
Bootstrap: Arrange to have footer partial to stick to bottom of web page (rather than floating in mid air) on pages where text content doesn’t fill the whole screen, such as on the “About” webpage.
</li>

<li class="orders"><!-- 6 -->
<span class="completed">CSS: At mobile size resolutions, when you click the hamburger button, there is a blue square around the border. See <a href="https://i.imgur.com/dnQbia3">here</a>. Can you make this square border crimson (instead of the default blue)?</span> <strong>COMPLETED 19 FEBRUARY</strong>
</li>

<li class="orders"> <!-- 7 -->
Bootstrap: <a href="https://i.imgur.com/wxp3lbL">Here is is a demo</a> of the end product that I am trying to achieve. Where as <a href="https://i.imgur.com/MT3AREl">here is a screenshot of what it looks like now</a>.  Here are some key differences. At medium size resolutions:
    <ol>
        <li>Make navbar spacing between menu options equal</li>
        <li>Move HOME and ABOUT down slightly</li>
        <li>Close horizontal gap between menu options to be equal in distance</li>
        <li>For the final menu option, change the appearance of the text from this:</li>
        <Br>
            <strong>ANNOTATED ESSAY<Br>
            LIST</strong><Br>
            <Br>
        ...to stacked like this:<Br>
            <Br>
	        <strong>ANNOTATED<Br>
	        ESSAY LIST</strong><Br>
        </li></ol></li>

<li class="orders"><!-- 8 --> Django/Jinja: Share the same Generators class objects: 
    <ul>
        <li>bibliography, </li>
        <li>content changes</li>
    </ul>
...so the same text field is mirrored in the Admin Dashboard across all Generators, Slashdots, Watchtower, Articles.
</li>
<!--
<li class="orders"><!-- 9 
</li>

    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>

</ol>

<!--<li class="orders"> 13 ->

</li>
<li class="orders"><!-- 14 

</li>
<li class="orders"><!-- 15 

</li>

</ol>


<ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>-->
</body>
</html>