<!-- 

This template is used for housing mutliple articles (like blog posts) with out pulling in the description or data from any of the other apps. These blog posts stand on their own. There are only basic object references such as:
- models.Title
- models.TextField

Example content:

e.g. Forrest Gump + Titanic(?)
e.g. Alex Jones

Previously this was for articles profiling the protagonists of The Wizard of Oz and The Matrix but not any more. 

-->

{% extends 'base.html' %}
    
{% block content %}    
    

{% endblock %}    
