{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <!-- <link rel="stylesheet" href="{% static 'css/random-normalize.css' %}"> -->
{% endblock %}

{% block content %}    
    
    {% if articles %}

        {% for article in articles %}    

            <h4> {{ article.title|safe }} </h4>
             <ul>
                {% for point in article.biblio_into_bullets %}
                    <li>{{point}}</li>
                {% endfor %}
            </ul>

        {% endfor %}

    {% endif %}

{% endblock %}   