{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <!-- <link rel="stylesheet" href="{% static 'css/random-normalize.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">

{% endblock %}

{% block content %}    
    <article class="article">
    <div class="essay">
    {% if articles %}

        {% for article in articles %}    

            <h4> {{ article.title|safe }} </h4>
            <p> {{ article.content|safe }} </p>

        {% endfor %}

    {% endif %}
    </div> <!-- end essay -->
    </article>
{% endblock %}   