{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
  {% if slashdot_obj %}
        <div class="col-lg-12"><h2>{{ slashdot_obj.title }}</h2></div>
        <p class="text-justify"> {{ slashdot_obj.introduction }} </p>
        <br>
          {% for generator in generators %}
              <h4>Generator: {{ generator.slashdot_position }}</h4>
              <div class="row">
                  <div class="col-lg-11 text-justify">
                    <p>{{ generator.description }}</p>
                    <p>{{ generator.galileo_content }}</p>
                    <p>{{ generator.f_loss_content }}</p>
                  </div>
                  <div class="col-lg-1">
                    <img src="{{ generator.tarot_card_image }}" width="180"/>
                  </div>
              </div>
          {% endfor %}
        <br>
        <h3>Conclusion:</h3>
        <p class="text-justify">{{ slashdot_obj.conclusion }} </p>
        <br>
  {% endif %}
  </div>

{% endblock %}
