{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

{% block content %}

  {% if slashdot_obj %}
        <div><h2>{{ slashdot_obj.title }}</h2></div>
        <p> {{ slashdot_obj.introduction|safe }} </p>
        <br>
          {% for generator in generators %}
              <h4>Generator: {{ generator.slashdot_position }}</h4>
              <p>{{ generator.description|safe }}</p>
                <img class="tarot-small-key right" src="{{ generator.tarot_card_image }}" width="180"/>
              <p>{{ generator.galileo_content|safe }}</p>
              <p>{{ generator.f_loss_content|safe }}</p>
            
          {% endfor %}
        <br>
        <h3>Conclusion:</h3>
        <p>{{ slashdot_obj.conclusion|safe }} </p>
        <br>
  {% endif %}
  </div>

{% endblock %}
