{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

{% block content %}    

  {% if articles %}

        <h1> {{ articles.title }} </h1>  <!-- from essays/models.py (under CuratedSlashdot class) -->
        
        <p> {{ articles.introduction }} </p> <!-- from essays/models.py (under CuratedSlashdot class) -->
        
          {% for generator in generators %}
            
            <!-- 
             
              curated list of tarot cards (and corresponding objects) ranked according to: ‘slashdot_position’ object from generators/models.py 
              
            -->
              
              <img src="{{ generator.tarot_card_image }}"/> <!-- from generators/models.py-->
              <p> {{ generator.description }} </p> <!-- from generators/models.py-->
              <p> {{ generator.galileo_content }} </p><!-- from generators/models.py-->
              <p> {{ generator.f_loss_content }} </p> <!-- from generators/models.py-->
                            
          {% endfor %}

        <p> {{ articles.conclusion }} </p> <!-- from essays/models.py (under CuratedSlashdot class) -->

  {% endif %}

{% endblock %}    