<!-- 

This template will house tarot analysis (St Paul) in long form with curated list of perhaps 5-7 of the very best tarot keys with:

- introduction (essays Model)
- description (generators Model)
- tarot_card_image (generators Model) (formatted off to the side)
- galileo_content (generators Model)
- f_loss_content (generators Model)
- conclusion  (essays Model)

And without any other instances/objects

-->

{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<!-- nothing (for now) -->
{% endblock %}

{% block content %}    

  {% if articles %}
    
    {% for article in articles %}

        <h1>{{ article.title }}</h1>
        <p>{{ article.introduction }}</p>
        <!-- curated list of 7 tarot cards and corresponding st_paul content with images -->
        <p>{{ article.conclusion }}</p>
    {% endfor %}

  {% endif %}

{% endblock %}    