{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

{% block content %}    
    <article class="article">
    <div class="essay">
  {% if watchtower_obj %}
        <div><h2>{{ watchtower_obj.title }}</h2></div>
        <p> {{ watchtower_obj.introduction|safe }} </p>
        <br>
          {% for generator in generators %}
              <h4>Generator: {{ generator.watchtower_position }}</h4>
              <img class="tarot-small-key right" src="{{ generator.tarot_card_image }}" width="180"/>
              <p>{{ generator.description|safe }}</p>
              <p>{{ generator.st_paul_content|safe }}</p>            
          {% endfor %}
        <br>
        <h3>Conclusion:</h3>
        <p>{{ watchtower_obj.conclusion|safe }} </p>
        <br>
  {% endif %}
  </div> <!-- end essay -->
</article>
{% endblock %}    