{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

{% block content %}    
    <article class="article">
    <div class="essay">
  {% if watchtower_obj %}
        <div><h1>{{ watchtower_obj.title }}</h1></div>
        <div class="essay-meta-data">
          <h6>First Posted: {{ watchtower_obj.date_first_posted }}</h6>
          <h6>Last Updated: {{ watchtower_obj.date_changed }}</h6>
          <h6>Author: {{ watchtower_obj.authors }}</h6>
          <h6><a href="{% url 'content_changelog' %}">Changelog here.</a></h6>
        </div>
        {{ watchtower_obj.introduction|safe }} 
        <br>
          {% for generator in generators %}
          <h2>Tarot Key {{ generator.number }}: {{ generator.title }}</h2>
              <img class="tarot-small-key right" src="{{ generator.tarot_card_image }}" width="180"/>
              <p>{{ generator.description|safe }}</p>
              <h3>The Pauline narrative:</h3>
              <p>{{ generator.st_paul_content|safe }}</p>   
          {% endfor %}
        <br>
        
        <p>{{ watchtower_obj.conclusion|safe }} </p>
        <br>
        
  
        {% endif %}
        <h1>Bibliography 2</h1>
        {% if biblio_objs %}
          {% for biblio_obj in biblio_objs %} 
            {{ biblio_obj.biblio|safe}}
          {% endfor %}
        {% endif %}
  </div> <!-- end essay -->
</article>
{% endblock %}    