{% load static %}
{% load cookie_consent_tags %}
{% url "cookie_consent_cookie_group_list" as url_cookies %}
{% static "cookie_consent/cookiebar.module.js" as cookiebar_src %}
{% url 'cookie_consent_status' as status_url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/crimson-hexagram.ico' %}" type="image/x-icon">
  <title>ROTA</title>
  
  {% include 'partials/_cookie_consent_scripts.html' %}
</head>
<body>
  Check
  
  <template id="cookie-consent__cookie-bar">
    <div class="cookie-bar alert alert-dark fixed-bottom">
      <p class="mb-2">
        We use analytics cookies to understand how visitors use our site.
      </p>
      <button type="button" class="consent-btn btn-success cookie-consent__accept">
        Accept
      </button>
      <button type="button" class="consent-btn btn-secondary cookie-consent__decline">
        Decline
      </button>
      <a href="{{ url_cookies }}">Learn more</a>
    </div>
  </template>

  {% all_cookie_groups 'cookie-consent__cookie-groups' %}

</body>
</html>