{% extends 'base.html' %}
    
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
  <style>
   ul {
      list-style: circle;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
   }
   img {
      /*float:none;*/
   }
   
   /*.img {
      margin-left: 0px; 
      float:left;
      padding:0px; 
      margin-right: 0px;
      width: 29%;
      
   }*/
   
   .img-descr {
       float:left;
       width:33%;
       text-align:left;
       text-size: 90%;
       margin: 25px;
       margin-top: -30px;
   }
   </style>
   

   {% endblock %}

{% block content %}    

<article class="article">
<div class="essay">

{% if abouts %}
   {% for about in abouts %}    
   <h1 id="title"> {{ about.title }} </h1>
      <p class="text-justify"> {{ about.text_content|safe }} </p>
   {% endfor %}
{% endif %}
</div><!-- end essay -->
</article>

{% endblock %}