{% extends 'base.html' %}
    
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

<style>
ul {
   list-style: circle;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
}

</style>

{% block content %}    

<article class="article">
<div class="essay">

{% if abouts %}
   {% for about in abouts %}    
   <h1> {{ about.title }} </h1>
      <p class="text-justify"> {{ about.text_content|safe }} </p>
   {% endfor %}
{% endif %}
</div><!-- end essay -->
</article>

{% endblock %}