{% extends 'base.html' %}
    
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/essay-main.css' %}">
{% endblock %}

<style>
   ul {
      list-style: circle;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
   }
   </style>

{% block content %}    

{% if essay_list_obj %}
<article class="article">
<div class="essay">   

{% if essay_lists %}
   {% for essay_list in essay_lists %}    
   <h1 id="title"  style='text-shadow: None'> {{ essay_list.title }} </h1>

      <p class="text-justify"> {{ essay_list.text_content|safe }} </p>
   {% endfor %}
{% endif %}

</div><!-- end essay -->
</article>
{% endif %}


{% endblock %}