<!-- <center>{% block title %} (null) so far {% endblock %}</center> -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/gateway.css' %}" type="text/css">
  <title>Protected Gateway</title>
  <link rel="shortcut icon" href="{% static 'img/crimson-hexagram.ico' %}" type="image/x-icon">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHJ7HMKT1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-1KHJ7HMKT1');
  </script>
  <!-- GOOGLE ANALYTICS -->
  
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//tarot-matomo.herokuapp.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->


</head>
{% block content %}

<section id="login" class="bg-light py-5">

  <div>
    {% include 'partials/_alerts.html' %}
  </div>

  {% if not faravahar %}

  <img src="https://placekitten.com/200/287">

  <h3> This website is hermetically sealed
    <br>
    It's protected by adorable little KITTENS
  </h3>

  {% else %}

  <img id="muerte" src="{% static 'img/wings-white-cropped.png' %}">

  <h3>
    This website is Hermetically Sealed  
  </h3>

  {% endif %}

  <hr>

  {% if not nuclear %}

  <div id="passphrase">
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="passphrase">To access, please enter your passphrase:</label>
        <br>

        <input type="password" name="passphrase" class="form-control" required>
      </div>
      <input class="submit" type="submit" value="Submit" class="btn btn-secondary btn-block">

    </form>
  </div>

  {% else %}

  <h3>
    Access Refused
  </h3>

  {% endif %}
</section>


{% endblock %}

</html>