{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>The First Initiate 1614</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <meta name="robots" content="noindex,nofollow" />
  <meta name="theme-color" content="black">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <!-- <link rel="stylesheet" href="css/styles.css" type="text/css">-->
  <link rel="stylesheet" href="{% static 'css/portal.css' %}" type="text/css">
  <style type="text/css">
  </style>
  
  <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-71595941-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

  </head>
  
  <body>
              <!-- Google Tag Manager -->
              <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T3WKDW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                          })(window,document,'script','dataLayer','GTM-T3WKDW');</script>
  <!-- End Google Tag Manager -->

  <div class="title">

    
    <h1>exousia <span id="def">(ex-ou-<strong>SEEAH</strong>) n.
    
      <br />   <br />
      From Koine Greek ἐξοντ- (exont-, participle) +‎ -ῐ́ᾱ (-íā, verbal adjective suffix), from ἔξεστι (éxesti, “it is possible, it is allowed”).
      <br />
      <strong>1.</strong> <em>power</em>, means, license, or authority to do something.</span>
    
      
    <h1 >
      
      <center>
        <span id="def">"All things are subject to interpretation. Whichever interpretation prevails at a given time is a function, not of truth, but of power." <br />- - Friedrich Nietzsche, <em>Will to Power</em>  </span>  
      </center>
      
    </h1>
    <img class="site-logo one" src="https://i.imgur.com/4flm4my.jpg" alt="The Tower" />

      <img class="site-logo two" src="https://i.imgur.com/JKFJ68x.jpg" alt="Judgement" />
  
      <img class="site-logo three" src="https://i.imgur.com/ob343qN.jpg" alt="The Emperor"/>

    <!-- To F/LOSS/GG:  -->
    <h3><a href="{% url 'slashdot' %}">@ SLASHDOT</a></h3> 
    
    <!-- To Forrest Gump article:  -->
    <h3>
      <div class="tooltip">
        <a href="#">@ HOLLYWOOD</a> 
        <span class="tooltiptext">Pending</span>
      </div>
    </h3> 

    <!-- To St Paul:  -->
    <h3><a href="{% url 'watchtower' %}">@ THE WATCHTOWER</a></h3> 

    <br />
    <center><img id="pent" src="{% static 'img/pentacle.gif' %}" /></center>

    <hr>    

    <h3><a href="{% url 'essay_list' %}">Essay list</a></h3>
        
        
    <!-- To landing page explaining "why" and "what" of this website:  -->
    <h3><a href="{% url 'about' %}">(About)</a></h3> 
    
    <!-- To generic tarot card landing page (random selection):  -->

    <h3><a href="{% url 'get_tarot_key_generator' %}">(Tarot at random)</a></h3> 
   
    <center><img width="5%" src="{% static 'img/TM-retry-crimson.png' %}"></center>
  
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const introText = document.getElementsByClassName('intro__text'),
  introBtn = document.getElementsByClassName('intro__btn');
  
  introBtn[0].addEventListener('click', () => alert('Hello World!'));
  
  setTimeout(()=> {
    introText[0].classList.add('start');
    introBtn[0].classList.add('start');
  }, 800);
});

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
    _gaq.push(['_trackPageview']);
    (function()
    {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
   </script>


  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
  {% comment %} <script src="{% static 'js/alien.js' %}"></script> {% endcomment %} -->
     
</body>
  
</html>