{% load static %}
{% load cookie_consent_tags %}
{% url "cookie_consent_cookie_group_list" as url_cookies %}
{% static "cookie_consent/cookiebar.module.js" as cookiebar_src %}
{% url 'cookie_consent_status' as status_url %}
<!-- <center>{% block title %} (null) so far {% endblock %}</center> -->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/cookie_consent.css'%}" type="text/css">
  <title>Protected Gateway</title>

  {% include 'partials/_cookie_consent_scripts.html' %}

  <style>

      section {
          padding-top: 500px;
          font-size: 200%;
          width: 750px;
      }

  </style>
</head>
<center>
<section id="login" class="bg-light py-5">
Your session expired. 
  <div id="passphrase">
    <form action="#" method="POST">
      {# {% csrf_token %} #}
      <div class="form-group">
        <label for="passphrase">To continue where you left off,  Please re-enter your passphrase to return to the essay you were reading:</label>
        <br>

        <input type="password" name="passphrase" class="form-control" required>
      </div>
      <input class="submit" type="submit" value="Submit" class="btn btn-secondary btn-block">

    </form>
  </div>
</section>

  <template id="cookie-consent__cookie-bar">
    <div class="cookie-bar alert alert-dark fixed-bottom">
      <p class="mb-2">
        We use analytics cookies to understand how visitors use our site.
      </p>
      <button type="button" class="btn btn-success cookie-consent__accept">
        Accept
      </button>
      <button type="button" class="btn btn-secondary cookie-consent__decline">
        Decline
      </button>
      <a href="{{ url_cookies }}">Learn more</a>
    </div>
  </template>

  {% all_cookie_groups 'cookie-consent__cookie-groups' %}
</center>


</html>