{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/random-normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/random-main.css' %}">
{% endblock %}
{% block content %}    

  <div class="wrapper star">
    
    <section class="general">
      
      <div class="general">

      <button class="btn third">Pull Card At Random</button>
      
      {% if generators %}

        {% for generator in generators %}

      <h1 class="key">Key {{ generator.number }}: {{ generator.title }} </h1>
       
       <img src="{{ generator.tarot_card_image }}" alt="tarot key" />
        
        <ul class="esoteric-attributes">
              <li>Astrological Attribute: {{ generator.astrological }}</li>
              <li>Alchemical Attribute: {{ generator.alchemical }}</li>
              <li>Intelligence:  {{ generator.intelligence }} </li>
              <li>Hebrew Letter:  {{ generator.hebrew_letter }}</li>
              <li>Letter Meaning: {{ generator.letter_meaning }}</li>
        </ul>
        
       <ul class="esoteric-attributes"> <li> <strong>Mode</strong>: <a href="#">Regular</a> or <a href="#">study</a></li></ul>

        <p>{{ generator.description|safe }} </p>

         </div>  <!-- end general -->

    </section>  <!-- end general -->

    <h1 class="key">Select your narrative:</h1>

      <ul class="flex-container">
        <li class="flex-item"><img id="image-0" src="{% static 'img/GG-cropped.jpg' %}" alt="narrative"> <br /> Galileo</li>
        <li class="flex-item"><img id="image-0" src="{% static 'img/hacker-white.gif' %}" alt="narrative"> <br /> FLOSS</li>
        <li class="flex-item"><img id="image-0" src="{% static 'img/Paul.gif' %}" alt="narrative"> <br /> St Paul</li>
      </ul>
    <section class="profile">

      <div class="profile-left"> 
        <h1>Galileo</h1>
        <p> {{ generator.galileo_content|safe }} </p>
        <p> {{ generator.galileo_bullets|safe }} </p>
      </div>

      <div class="profile-right"> 
        <h1>F/LOSS</h1>
        <p>{{ generator.f_loss_content|safe }}</p>
        <p>{{ generator.f_loss_bullets|safe }}</p>
      </div>

       <div class="profile-right"> 
         <h1>St. Paul</h1>
         <p>{{ generator.st_paul_content|safe }}</p>        
         <p>{{ generator.st_paul_bullets|safe }}</p>        
      </div>

    </section>

</div> <!-- end wrapper star -->
{% endfor %}
{% endif %}
{% endblock %}

